.main-container {
  margin-left: $sidenav-offset;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  @media (max-width: 950px) {
    margin-left: 0;
  }
}

section.content {
  padding: 0 100px;
  @media (max-width: 950px) {
    padding: 0 20px;
  }
}

.skills-container,
.experience-container,
.fun-facts-container {
  padding: 50px 0;
}
